app:
  version: '1.0.0-RELEASE'

spring:
  application:
    name: lotte-2nd-project-back-team1

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://13.125.166.237:3306/hubflow
    username: root
    password: "Lotteonteam1!"


  #    url: jdbc:mysql://127.0.0.1:3306/hubflow
  #    username: root
  #    password: 1234

  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    properties:
      hibernate:
        format_sql: true
        show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB     # 업로드 파일의 최대 크기
      max-request-size: 15MB  # 요청 전체 크기
      location: uploads/
  mail:
    host: smtp.gmail.com
    port: 587
    username : subinasa231@gmail.com
    password : yrsooezvdnidjttx
    protocol : smtp
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls.enable: true
    default-encoding: UTF-8

  web:
    resources:
      static-locations:
        - classpath:/static/
  data:
    redis:
      lettuce:
        pool:
          max-active: 5
          max-idle: 5
          min-idle: 5
      host: 13.125.166.237
      port: 6379

    mongodb:
      uri: mongodb://hubflow:hubflow123@13.125.166.237:27017/hubflow?authSource=hubflow


jwt:
    issuer: chhak0503@gmail.com
    secret: Tz6W1F4Cl4Yl2GyyRjJ5C4v7KRMCA4z4

file:
  upload:
    path: upload


